
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles-main">
        <app-big-card 
        id="1"
        image="assets/images/noticia-image-1.jpg"
        title="LUZ ALIENÍGENA PODE SER TRAPAÇA DOS HUMANOS"
        description="LUZ MISTERIOSA SEMPRE QUE APARECE TEM ALGUM SER HUMANO IDIOTA POR PERTO">
        </app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card 
        id="2"
        image="assets/images/noticia-image-2.jpg"
        title="DE ONDE VEM O CLONE QUE SURGE DO NADA E NOS IMITA O TEMPO TODO?">
        </app-small-card>
        <app-small-card 
        id="3"
        image="assets/images/noticia-image-3.jpg"
        title="SEU HUMANO NÃO ENTENDE QUANDO VOCÊ ESTÁ COM FOME?">
        </app-small-card>
        <app-small-card
        id="4"
        image="assets/images/noticia-image-4.png"
        title="TENTANDO ENTRAR NO SHAPE PARA O VERÃO?">
        </app-small-card>
    </div>
</div>